.App {
  text-align: center;
}

.board {
  justify-content: center;
  margin-top: 20vh;
  margin-bottom: 20vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 150px);
}

.cell {
  position: relative;
  border: solid black 1px;
  width: auto;
  height: 150px;
  font-size: 50pt;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
